name: build mkdocs

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: pip install mkdocs mkdocstrings mkdocstrings-python mkdocs-material
      - run: mkdocs gh-deploy --force --clean --verbose
